# Taken directly from https://github.com/ambv/black/blob/master/.flake8
[flake8]
; max-line-length = 100
ignore = E203, E231, E266, E303, E501, W503, C901, D104, D100, E501, F841
max-complexity = 18
select = B,C,E,F,W,T4,B9,D
enable-extensions = flake8-docstrings
per-file-ignores =
    tests/**:D101,D102,D103
docstring-convention = numpy
